<div
  id='siteHeader'
  class='fixed w-full z-20 top-0 start-0 bg-black'
  x-data='{ mobileMenuOpen: false, searchBarOpen: false }'
  x-cloak
>
  <div class='mx-auto px-4 sm:px-6 max-w-8xl'>
    <div class='flex justify-between items-center py-6 md:justify-start md:space-x-10'>
      <!-- STORE NAME / STORE LOGO -->
      <div class='flex justify-start lg:flex-1 truncate'>
        {% assign logo_image = section.settings.logo_image %}
        {% if logo_image == blank and shop.brand_asset_default_logo %}
          {% assign logo_image = shop.brand_asset_default_logo %}
        {% endif %}
        {% if logo_image != blank %}
          <a href='{{ routes.root_url }}' class='flex items-center space-x-3'>
            <img
              src='{{ logo_image | img_url: "master" }}'
              class='h-10 md:h-14'
              alt='{{ shop.name }} Logo'
            >
          </a>
        {% else %}
          <a href='{{ routes.root_url }}' class='flex items-center space-x-3'>
            <img
              src='{{ "logo_white.png" | asset_url }}'
              class='h-10 md:h-14'
              alt='{{ shop.name }} Logo'
            >
          </a>
        {% endif %}
      </div>

      <div class='-mr-2 -my-2 ml-3 md:hidden'>
        <button
          x-on:click='mobileMenuOpen = true'
          type='button'
          class='text-white p-2 inline-flex items-center justify-center focus:outline-none'
        >
          {% render "icon-menu" %}
        </button>
      </div>
      <!-- NAVIGATION MENU -->
      <nav
        class='hidden md:flex space-x-10'
        @click.away='mobileMenuOpen = false'
      >
        {% if section.settings.menu.links == blank %}
          {% assign main_menu_linklist = linklists[section.settings.menu].links %}
        {% else %}
          {% assign main_menu_linklist = section.settings.menu.links %}
        {% endif %}
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: "-", "_" %}
            <div class='relative' x-data='{ {{ link_handle }}: false }'>
              <button
                type='button'
                x-on:click='{{ link_handle }} = ! {{ link_handle }}'
                class='inline-flex items-center cursor-pointer text-white hover:text-gray-100'
              >
                {{ link.title }}
                {% render "icon-dropdown" %}
              </button>

              <div
                x-transition:enter='transition ease-out duration-300'
                x-transition:enter-start='opacity-0 translate-y-3'
                x-transition:enter-end='opacity-100 translate-y-0'
                x-transition:leave='transition ease-out duration-300'
                x-transition:leave-start='opacity-100 translate-y-0'
                x-transition:leave-end='opacity-0 translate-y-3'
                x-show='{{ link_handle }}'
                @click.away='{{ link_handle }} = false'
                class='absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2'
              >
                <div class='shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg'>
                  <div class='relative grid gap-6 bg-gray-800 px-5 py-6 sm:gap-8 sm:p-8'>
                    {% for childlink in link.links %}
                      <a
                        href='{{ childlink.url }}'
                        class='-m-3 p-3 flex items start rounded-lg hover:bg-gray-700'
                      >
                        <div class='ml-4'>
                          <p class='text-white text-base font-medium'>
                            {{ childlink.title }}
                          </p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <a
              href='{{ link.url }}'
              class='text-base text-white hover:text-gray-100'
            >
              {{- link.title -}}
            </a>
          {% endif %}
        {% endfor %}
      </nav>
      <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
      <div class='hidden md:flex items-center justify-end md:flex-1 space-x-5'>
        <button
          @click='window.dispatchEvent(new CustomEvent("open-search"))'
          type='button'
          class='whitespace-nowrap text-base text-white hover:text-gray-100'
        >
          {% render "icon-search" %}
        </button>
        <div class='relative' x-data='cartBadge()' x-init='init()'>
          <button
            @click.stop='openCart'
            class='whitespace-nowrap text-base text-white hover:text-gray-100 relative'
          >
            {% render "icon-shopping-bag" %}
            <!-- Cart Badge -->
            <span
              x-show='itemCount > 0'
              x-text='itemCount'
              class='absolute -top-2 -right-2 bg-white text-black text-xs rounded-full h-5 w-5 flex items-center justify-center font-bold'
            ></span>
          </button>
        </div>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a
              href='{{ routes.account_url }}'
              class='text-base text-white hover:text-gray-100'
              >Account</a
            >
            <a
              href='{{ routes.account_logout_url }}'
              class='text-base text-white hover:text-gray-100'
              >Log out</a
            >
          {% else %}
            <a
              href='{{ routes.account_login_url }}'
              class='text-base text-white hover:text-gray-100'
              >Log in</a
            >
            <a
              href='{{ routes.account_register_url }}'
              class='text-base text-white hover:text-gray-100'
              >Register</a
            >
          {% endif %}
        {% endif %}
      </div>

      <!-- MOBILE MENU CONTAINER -->
      <div
        x-show='mobileMenuOpen'
        @click.away='mobileMenuOpen = false'
        class='absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden'
      >
        <div class='shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-gray-800 w-full'>
          <div class='p-5 divide-y-2 divide-gray-700'>
            <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->

            <div class='flex items-center justify-between pb-3'>
              <div>
                <h1 class='text-lg text-white'>
                  {{ section.settings.mobile_menu_title }}
                </h1>
              </div>
              <div class='-mr-2'>
                <button
                  x-on:click='mobileMenuOpen = false'
                  type='button'
                  class='bg-gray-800 rounded-md p-2 text-white'
                >
                  {% render "icon-close" %}
                </button>
              </div>
            </div>

            <!-- NAVIGATION LINKS FOR MOBILE MENU -->
            <div class='pt-3'>
              <nav class='grid gap-y-7'>
                {% if section.settings.menu.links == blank %}
                  {% assign main_menu_linklist = linklists[section.settings.menu].links %}
                {% else %}
                  {% assign main_menu_linklist = section.settings.menu.links %}
                {% endif %}
                {% for link in main_menu_linklist %}
                  {% if link.links != blank %}
                    {% assign mobile_link_handle = link.handle
                      | replace: "-", "_"
                    %}
                    <div
                      class='relative'
                      x-data='{ {{ mobile_link_handle }}: false }'
                    >
                      <button
                        x-on:click='{{ mobile_link_handle }} = ! {{ mobile_link_handle }}'
                        type='button'
                        class='text-base text-white hover:text-gray-100 flex items-center justify-between w-full'
                      >
                        <div>{{ link.title }}</div>
                        {% render "icon-dropdown" %}
                      </button>

                      <div
                        x-show='{{ mobile_link_handle }}'
                        class='grid gap-y-2 py-3'
                      >
                        {% for childlink in link.links %}
                          <a
                            href='{{ childlink.url }}'
                            class='-m-3 p-3 mt-2 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700'
                          >
                            <span class='ml-3 text-base font-medium text-white'>
                              {{- childlink.title -}}
                            </span>
                          </a>
                        {% endfor %}
                      </div>
                    </div>
                  {% else %}
                    <a
                      href='{{ link.url }}'
                      class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700'
                    >
                      {{ link.title }}
                    </a>
                  {% endif %}
                {% endfor %}

                <!-- Mobile Menu Actions -->
                <div class='border-t border-gray-700 pt-4'>
                  <!-- Search -->
                  <button
                    @click='window.dispatchEvent(new CustomEvent("open-search")); mobileMenuOpen = false'
                    class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700 w-full text-left'
                  >
                    Search
                  </button>

                  <!-- Cart -->
                  <button
                    @click='window.dispatchEvent(new CustomEvent("open-cart")); mobileMenuOpen = false'
                    class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700 w-full text-left'
                  >
                    Cart
                  </button>

                  <!-- Account Links -->
                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                      <a
                        href='{{ routes.account_url }}'
                        class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700'
                      >
                        Account
                      </a>
                      <a
                        href='{{ routes.account_logout_url }}'
                        class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700'
                      >
                        Log out
                      </a>
                    {% else %}
                      <a
                        href='{{ routes.account_login_url }}'
                        class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700'
                      >
                        Log in
                      </a>
                      <a
                        href='{{ routes.account_register_url }}'
                        class='-m-3 p-3 flex items-center rounded-md text-white hover:text-gray-100 hover:bg-gray-700'
                      >
                        Register
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Sheet -->
  {% render "search-sheet" %}
</div>

<script>
  function cartBadge() {
    return {
      itemCount: 0,

      init() {
        this.loadCartCount()

        // Listen for cart updates
        window.addEventListener('cart-updated', () => {
          this.loadCartCount()
        })
      },

      async loadCartCount() {
        try {
          const response = await fetch('/cart.js')
          const cart = await response.json()
          this.itemCount = cart.item_count
        } catch (error) {
          console.error('Error loading cart count:', error)
        }
      },

      openCart() {
        // Dispatch event to open cart sheet
        window.dispatchEvent(new CustomEvent('open-cart'))
      },
    }
  }
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "default": "Menu",
      "label": "Mobile Menu Title"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "customer-account-main-menu",
      "label": "Heading Navigation Menu"
    }
  ]
}
{% endschema %}
